@{
    ViewData["Title"] = "Matches";
}

<link rel="stylesheet" href="~/css/matches.css" asp-append-version="true" />

<body>
    <div class="main-block">
        <div class="title">Finished matches</div>
        <div class="search-by-name-box">
            <p class="name">Name: </p>
            <form id="searchForm" method="GET"
                  action="${pageContext.request.contextPath}/matches"
                  onsubmit="return validateSearchForm();">
                    <input type="hidden" name="page" value="1">
                    <input id="playerNameInput" name="filter_by_player_name" class="search-bar"
                           placeholder="Steve">
                <button type="submit" form="searchForm" class="search-button">Search</button>
            </form>

            <script>
                function validateSearchForm() {
                    let playerNameInput = document.getElementById('playerNameInput');
                    if (playerNameInput && playerNameInput.value.trim() === '') {
                        alert("Please enter a player name.");
                        return false;
                    }
                    return true;
                }
            </script>

            <form id="clearForm" method="GET"
                  action="${pageContext.request.contextPath}/matches">
                <input type="hidden" name="page" value="<%=pageNumber%>">
                <input type="hidden" name="filter_by_player_name" class="search-bar" placeholder="Steve">
            </form>
            <button form="clearForm" class="clear-button">Clear</button>
        </div>
        <div class="table">
            <div class="id-column">
                <div class="table-header">ID</div>
                
            </div>
            <div class="player1-column">
                <div class="table-header">Player 1</div>
                
            </div>
            <div class="player2-column">
                <div class="table-header">Player 2</div>
               
            </div>
            <div class="winner-column">
                <div class="table-header">Winner</div>
               
            </div>
        </div>
        <div class="pagination">
            <form class="hidden-forms" id="prevForm" method="GET"
                  action="${pageContext.request.contextPath}/matches">
                <%if (prev != 0) {%>
                <input type="hidden" name="page" value="<%=prev%>">
                <%} else {%>
                <input type="hidden" name="page" value="<%=pageNumber%>">
                <%}%>
                <% if (playerName != null) { %>
                <input type="hidden" name="filter_by_player_name" value="<%=playerName%>">
                <% } %>
            </form>
            <button form="prevForm" type="submit" class="next-button">Prev</button>
            <!-- Текущая страница -->


            <form class="hidden-forms" id="nextForm" method="GET"
                  action="${pageContext.request.contextPath}/matches">
                <%if (gotNext) {%>
                <input type="hidden" name="page" value="<%=next%>">
                <%} else {%>
                <input type="hidden" name="page" value="<%=pageNumber%>">
                <%}%>
                <% if (playerName != null) { %>
                <input type="hidden" name="filter_by_player_name" value="<%=playerName%>">
                <% } %>
            </form>
            <button form="nextForm" type="submit" class="next-button">Next</button>
        </div>
    </div>
</body>