.start-button {
    width: 100%;
    background-color: rgb(8, 25, 27);
    color: white;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    font-weight: 800;
    border-radius: 10px;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(22, 76, 83);
    cursor: pointer;
}

.start-button-div {
    display: flex;
    flex: 1;
}

.start-button:hover {
    opacity: 0.9;
}

.start-button:active {
    background-color: rgb(41, 37, 37);
    color: rgb(46, 147, 160);
    opacity: 0.6;
}

.player {
    margin-bottom: 10px;
}

.player-name {
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 800;
    display: inline-block;
    color: white;
    margin-right: 10px;
}

.player-name-input {
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    width: 100%;
}

.new-game-inputs {
    margin: auto;
    margin-top: 150px;
    width: 400px;
    background-color: rgb(22, 76, 83);
    padding: 50px;
    border-radius: 50px;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    font-weight: 100;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    opacity: 0.5;
}

:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    font-weight: 100;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    opacity: 0.5;
}

::-moz-placeholder { /* Mozilla Firefox 19+ */
    font-weight: 100;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    opacity: 0.5;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    font-weight: 100;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    opacity: 0.5;
}

::-ms-input-placeholder { /* Microsoft Edge */
    font-weight: 100;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    opacity: 0.5;
}

::placeholder { /* Most modern browsers support this now. */
    font-weight: 100;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    opacity: 0.5;
}

.start-form {
    display: block;
}
