@{
    ViewData["Title"] = "New Game";
}

<link rel="stylesheet" href="~/css/new-match.css" asp-append-version="true" />

<body>
    <div class="new-game-inputs">
        <form class="start-form" method="post">
            <div class="player">
                <div class="player-name">Player name 1:</div>
                <input type="text" class="player-name-input" id="player-name-1" placeholder="Steve" name="player_name_1">
            </div>
            <div class="player">
                <div class="player-name">Player name 2:</div>
                <input type="text" class="player-name-input" id="player-name-2" placeholder="John" name="player_name_2">
            </div>
            <div class="start-button-div">
                <button class="start-button" onclick="createMatch()" asp-controller="MatchScore" asp-action="Index">Start</button>
            </div>
        </form>
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script>
            function createMatch() {
                var players = {
                    "name1": $('#player-name-1').val(),
                    "name2": $('#player-name-2').val(),
                };

                $.ajax({
                    url: 'https://localhost:7236/registerGame',
                    type: 'POST',
                    contentType: 'application/json',
                    data: JSON.stringify(players),
                    success: function (data, textStatus, xhr) {
                        console.log(data);

                        console.log("Your match has been created successfully");
                    },
                    error: function (xhr, textStatus, errorThrown) {
                        console.log('Error in Operation');
                    }
                });
            }
        </script>
    </div>
</body>